@import '../../base/variables.scss';

.search-input {
    margin-left: 20px;
    padding: 6px 10px 6px 36px;
    
    font-size: 0.857em;

    background-color: $main-color;

    border: none;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}